html {
    height: 100%;
    background-color: #273E47;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#content {
    height: 100%;
}

#side-nav-container {
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: #273E47;
    /*  #79A9D1;
        ;*/
}

#side-nav {
    height: 60%;
    width: 100%;
}

#side-nav li {
    background: rgba(255, 20, 20, 0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

#side-nav li:hover {
    background: dodgerblue;
    color: #fff;
}

#side-nav li:hover .black-text {
    color: #fff;
}

.nav-bar-text {
    font-size: 1.3em;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

.default-text {
    font-family: 'Nunito', sans-serif;
}

#home-tab,
#about-tab,
#experience-tab,
#projects-tab,
#skills-tab,
#interests-tab,
#contact-tab {
    height: 13%;
}

#home-toggle,
#about-toggle,
#experience-toggle,
#projects-toggle,
#skills-toggle,
#interests-toggle,
#contact-toggle {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#landing-page {
    position: relative;
    height: 100%;
    z-index: 0;
    background-color: #273E47;
}

#headline {
    position: relative;
    /*    margin: 300px auto;*/
    font-size: 3.5em;
    z-index: 1;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#sub-headline {
    font-size: 0.9em;
    font-family: 'Satisfy', cursive;
}

#name-headline {
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
}

.landing-page-icon i {
    background: rgba(255, 20, 20, 0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.landing-page-icon i:hover {
    color: aquamarine;
}

#footer {
    position: absolute;
    width: 150px;
    bottom: 0;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    left: 50%;
    right: 25%;
    margin-left: -75px;
}

#about-me-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #586F7C;
    z-index: 2 !important;
    padding-top: 30px;
    padding-bottom: 30px;
}

#about-me {
    height: 80%;
    padding: 10px 10px 10px;
    text-align: left;
    overflow-y: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#summary {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    height: 100%;
}

#summary-pic-container {
    height: 100%;
    position: relative;
}

#summary-pic {
    position: relative;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 480px;
    width: 340px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#experience-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #62929E;
    /*        #FF715B; #666A86*/
    z-index: 2 !important;
    overflow-y: auto;
}

#experience {
    margin-top: 50px;
    margin-bottom: 30px;
}

.experience-block {
    margin-bottom: 100px;
}

#work-column {
    padding-top: 40px;
    padding-left: 80px;
}

#volunteer-column {
    padding-left: 30px;
}

#volunteer-header {
    padding-bottom: 50px;
    font-family: 'Nunito', sans-serif;
}

.experience-text {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

#last-job {
    margin-bottom: 20px !important;
}

.job-title {
    text-align: left;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

.job-sub-title {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.job-position {
    color: black;
    font-weight: 100;
}

.job-description {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.job-tile {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto !important;
}

.job-image {
    height: 120px;
    width: 120px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#ubc-tile {
    height: 170px;
    width: 150px;
    background-color: #0B3954;
    border-radius: 5px;
    margin: 0 auto !important;
}

#ubc-pic {
    height: 140px;
    width: 120px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#projects-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #39393A;
    z-index: 2 !important;
    overflow-y: auto;
}

#projects {
    overflow-y: hidden;
    overflow-x: hidden;
}

.project-card {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 40px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-img {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.text-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.text-area::after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}

#home-safe {
    background-color: #502F4C;
}

#tutor-me {
    background-color: #235789;
}

#geo-pix {
    background-color: #3EC300;
}

#my-cfl {
    background-color: #8B1E3F;
}

#mind-the-gap {
    background-color: #1B98E0;
}

#lets-chill {
    background-color: #DDA15E;
}

#skills-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #A0CFD3;
    z-index: 2 !important;
    padding-top: 30px;
    padding-bottom: 30px;
}

#skills-box {
    height: 100%;
    padding: 10px 10px 10px 10px;
    overflow-y: auto;
}

#skills-header {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
}

.rank-text {
    font-size: 18px;
    font-weight: 600;
}

#ranking-container {
    display: table;
    height: 500px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

#ranking-container > div {
    display: table-row;
}

#ranking-container > div > h6 {
    display: table-cell;
}

#rank-1-wrap > h6 {
    vertical-align: top;
}

#rank-2-wrap > h6 {
    vertical-align: middle;
}

#rank-3-wrap > h6 {
    vertical-align: bottom;
}

.chart {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 0 auto;
    background-size: 100% 50px;
    background-position: left top;
}

.chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
}

.chart span {
    margin: 0 1em;
    display: block;
    background: #4E5283;
    border-radius: 4px;
}

.chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 0.1em;
    display: block;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.verticalLine {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.skill-column {
    margin-top: 75px;
}

.skills-header {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.skills {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
    display: table;
}

#skill-boxie {
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
}

.skill-arrow:before {
    content: "\3E\ ";
    color: #0E6BA8;
}

.skill-icon {
    color: #4E5283;
}

#interests-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #63B0CD;
    z-index: 2 !important;
    padding-left: 30px;
    padding-right: 30px;
}

#slider-container {
    height: 80% !important;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 20px;
}

.slides,
.slider,
.interest-img {
    height: 100% !important;
    border-radius: 15px;
}

#contact-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #D16666;
    z-index: 100 !important;
}

#form {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2C4251;
    position: relative;
    border-radius: 5px;
    top: 20%;
}

.button-text {
    font-weight: 900;
}

.login-text {
    font-size: 2em !important;
}

#name-field {
    margin-bottom: 20px;
}

#email-field {
    margin-bottom: 20px;
}

#textarea1 {
    font-size: 1.5em !important;
}

.thank-you-modal {
    height: 30% !important;
}

.input-field-text {
    font-size: 1.5em !important;
}


/* label color */

.input-field label {
    color: white;
    margin-top: -10px;
}


/* label focus color */

.input-field input[type=email]:focus + label {
    color: white;
}


/* label underline focus color */

.input-field input[type=email]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}


/* label focus color */

.input-field input[type=email]:focus + label {
    color: white;
}


/* label focus color */

.input-field input[type=text]:focus + label {
    color: white;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}


/* label focus color */

.input-field textarea:focus + label {
    color: white !important;
}


/* label underline focus color */

.input-field textarea:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}


/*EXTRAS*/

.stars {
    background: #000 url(http://res.cloudinary.com/dz9yrk0yr/image/upload/v1451159541/stars_aydndz.png) repeat top center;
    z-index: 0;
}


/*backup-url: http://www.script-tutorials.com/demos/360/images/twinkling.png */

.twinkling {
    background: transparent url(http://res.cloudinary.com/dz9yrk0yr/image/upload/v1451159541/twinkling_yvha6w.png) repeat top center;
    z-index: 0;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

.stars,
.twinkling {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}


/* Heart pulse */

.pulse2 {
    -webkit-animation: pulse2 1s linear infinite;
    -moz-animation: pulse2 1s linear infinite;
    -ms-animation: pulse2 1s linear infinite;
    animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse2 {
    0% {
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes "pulse2" {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes "pulse2" {
    0% {
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


/*Big screen*/

@media (min-width: 1500px) {
    #projects {
        margin-left: 90px;
    }
    .chart span {
        margin: 0 1.5em;
    }
}

@media (min-width: 995px) and (max-width: 1300px) {
    #projects {
        margin-left: -40px;
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media (min-width: 320px) and (max-width: 990px) {
    #skills-box {
        overflow-y: hidden;
    }
    #ranking-container {
        height: 50%;
    }
    #chart-container {
        height: 50%;
    }
    .chart {
        height: 100%;
    }
    #skill-boxie {
        height: 55%;
    }
    .skills,
    .skill-column {
        height: 55%;
    }
}